body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f1ec;
  direction: rtl;
}

header {
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #b08d57;
}

.logo img {
  height: 60px;
}

.container {
  padding: 30px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,.08);
  position: relative;
}

.menu {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.menu-box {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.menu-box a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

button {
  background: #1c1c1c;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
}
