body {
  margin: 0;
  font-family: Arial;
  background: #f3eee6;
}

.header {
  background: white;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px;
}

.header img {
  height: 60px;
}

.container {
  padding: 30px;
}

input, button {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

button {
  background: #3b2f1c;
  color: white;
  border: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.records {
  width: 100%;
  border-collapse: collapse;
}

.records th, .records td {
  border: 1px solid #8b6f3d;
  padding: 10px;
  text-align: center;
}
