<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Tracker System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <img src="{{ url_for('static', filename='shj-police.png') }}">
    <h1>Vehicle Tracker System</h1>
    <img src="{{ url_for('static', filename='shj-gov.png') }}">
</header>

<section class="container">
    <form method="POST" action="/add_region" class="add-form">
        <input type="text" name="region" placeholder="اسم المنطقة" required>
        <button type="submit">➕ إضافة منطقة</button>
    </form>

    <div class="cards">
        {% for region in regions %}
        <div class="card">
            <h3>{{ region }}</h3>
            <a href="/region/{{ region }}">📄 عرض السجلات</a>
            <a href="/qr?region={{ region }}">🔳 QR</a>
        </div>
        {% endfor %}
    </div>
</section>

</body>
</html>
