<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home | Vehicle Tracker</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
  <img src="/static/shj-police.png" alt="Police Logo">
  <h2>Vehicle Tracker System</h2>
  <img src="/static/shj-gov.png" alt="Gov Logo">
</header>

<div class="home-container">
  <h1>Welcome 👋</h1>
  <p>
    نظام تتبع المركبات –  
    اختاري المنطقة وابدئي بإدارة السجلات بكل سهولة
  </p>

  <a href="/" class="main-btn">
    Go to Regions  
    <br>
    الانتقال إلى المناطق
  </a>
</div>

</body>
</html>
