<!DOCTYPE html>
<html>
<head>
  <title>{{ region }}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
  <img src="/static/shj-police.png">
  <h2>{{ region }} Records</h2>
  <img src="/static/shj-gov.png">
</header>

<button class="qr-btn" onclick="openQR('{{ region }}')">QR Code</button>

<ul class="records">
  {% for r in records %}
    <li>{{ r }}</li>
  {% else %}
    <li>No records yet</li>
  {% endfor %}
</ul>

<div id="qrModal" class="modal">
  <iframe id="qrFrame"></iframe>
</div>

<script src="/script.js"></script>
</body>
</html>
